@media (max-width: 300px)
{
		#owl
		{
			width: 15px;
			height: 15px;
		}

		#toadimg
		{
			width: 50%;
			height: 50%;
		}

		.presse
		{
			width: 100%;
			height: auto;
			background-color: lightblue;
			border: 1px solid black;
			padding: 10px;
			margin: 2px;
		}

		.really
		{
			width: 100px;
			height: 100px;
		}

		.article
		{
			display: flex;
			flex-direction: column;
			flex-wrap: wrap;
		}
}